/* src/components/Login.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login {
    background: linear-gradient(120deg, #ffffff ,#ffffff); 
    border-radius: 10px;
    padding: 3rem 2rem;
    max-width: 400px;
    width: 100%;
    color: #650080;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .login-button{
    background-color: #650080;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    color: #650080;
    margin-bottom: 1rem;
  }
  
  p {
    text-align: center;
    color: #650080;
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #f3f1f1;
  }
  
  input {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: border 0.3s ease;
    ;
  }
  
  input:focus {
    outline: none;
    border: 2px solid #f0f1ec; /* Olive Green border */
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #650080; /* Olive Green */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #650080; 
  }
  
  .signup-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .signup-link a {
    color: #650080; 
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  .heading2{
    color: #650080;
  }